<div class="container">
  <h1>Edit Comment</h1>

  <%= form_for @comment do |f| %>

  <div>
    <%= f.text_field :body, :required => true, placeholder: "Title", :class =>"form-control" %>
  </div>
  <div>
  <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>

  <% end %>

  <div class="link"><%= link_to 'Back', post_path(@comment.post) %></div>
</div>
