<div class="container">
  <%= link_to 'Back', user_path(@user), :class => "btn btn-danger btn-xs", :id => "button" %>
  <div class="sign-backdrop">
    <h1 class="title">Edit yo'self</h1>
    <hr class="linefix">

    <%= render 'form' %>

  </div>
</div>
