<span class="h1">
  <%= current_user.name %>
</span>
  <%= image_tag current_user.image, :class => "profile-img" %>

<div class="text-center">
  <%= pluralize(current_user.posts.count, "post") %>
</div>
