/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Droid Sans', sans-serif;
}

body {
  background: rgba(53,70,92,1) !important;
  padding-top: 70px;
}

#fixmargin {
  margin: 5px 0 10px 0;
}

nav.navbar {
  background-color: rgba(37,51,71,1);
}

#navlink a {
  color: #fff;
  font-weight: bold;
}

#navlink a:hover {
  background: rgba(200,200,200,0.2);
}

#dropdown-button:hover {
  background: rgba(200,200,200,0.2);
}

.inline {
  display: inline-block;
}

.maintitle {
  font-size: 100px;
  font-family: Vollkorn, Helvetica, sans-serif;
  position: relative;
  bottom: 65px;
  right: 355px;
}

.phrase-title {
  font-family: Vollkorn, Helvetica, sans-serif;
  position: relative;
  bottom: 101px;
  right: 330px;
}

.login {
  position: relative;
  bottom: 205px;
  right: 40px;
}

.sign-backdrop {
  width: 600px;
  height: 688px;
  background: rgba(53,70,92,0.9) !important;
  padding: 1px 30px;
  color: white;
  border-radius: 10px;
  margin:  auto;
}

.text-area {
  resize: none;
}

div.mainpage {
  padding: 213px 0;
}

div.signpage {
  padding: 70px 0 15px 0;
}

.linefix {
  margin: 0 0 10px 0;
}

.clearfix {
  clear: both;
}

