.gravatar {
  height: 52px;
  width: 52px;
  margin: 1px 1px;
  border-radius: 5px;
}

.stats {
  a {
    display: inline-block;
    padding: 0 10px 10px 10px;
    border-left: 1px solid grayLighter;
    color: #000;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.comment-title {
  background-color: rgba(37,51,71,0.7);
  margin: -11px -11px 0 -11px;
  padding: 6px 6px 4px 6px;
}
