.post-img {
  width: 475px;
  // height: 350px !important;
  // min-width: 480px;
  // max-width: 600px;
  min-height: 280px;
  max-height: 480px;
  // border-radius: 5px;
}

.post {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: black;
}

.feedposts {
  list-style-type: none;
}

h3.posttitle {
  margin-top: 0;
  font-weight: bold;
}

div.panel-title {
  font-weight: bold;
  font-size: 19px;
  margin: 0;
  color: white;
}

.postname a {
  font-weight: bold;
  color: #fff;
  font-size: 17px;
    &:hover {
    color: #fff;
  }
}

.title{
  font-weight: bold;
  color: #fff;
}

.postcontent {

}
