.profilename {
  display: inline-block;
  position: relative;
  top: 10px;
}

.profile-img {
  width: 148px;
  height: 148px;
  border: black 2px solid;
  margin: 10px 30px;
  border-radius: 5px;
}

.userinfo {
  padding: 0 5px;
}

.linefix {
  margin: 0 0 10px 0;
}

body {
  padding-top: 70px;
}

.profile-info {
  height: 100%;
  background: white;
  padding: 15px 0;
  color: black;
  border-radius: 10px;
}

.profile-post-img {
  min-width: 330px;
  max-width: 400px;
  min-height: 180px;
  max-height: 240px;
  margin-top: 5px;
}

div.mainpage {
  padding: 213px 0;
}

div.bg {
  background-image: image-url("loginimage.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  margin-top: -70px;
  /* Preserve aspet ratio */
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

div.signpage {
  padding: 70px 0 15px 0;
}
