.profilename {
  display: inline-block;
  position: relative;
  top: 10px;
  a {
    color: #000;
    &:hover {
      color: rgba(73,90,112,1);
      text-decoration: none;
    }
  }
}

.profile-img {
  max-width: 148px;
  height: auto;
  border: black 2px solid;
  border-radius: 5px;
}

.follow-page {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

.userinfo {
  padding: 0 5px;
}

.profile-info {
  height: 100%;
  background: white;
  padding: 15px 0;
  color: black;
  border-radius: 10px;
}

.profile-post-img {
  min-width: 330px;
  max-width: 400px;
  min-height: 180px;
  max-height: 240px;
  margin-top: 5px;
}

div.bg {
  background-image: image-url("loginimage.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -70px;
  /* Preserve aspet ratio */
  min-height: 700px;
  height: 100vh;
}
