
nav.navbar {
  background-color: rgba(0,0,0,0.2);
}

// body {
//   background-image: url(/assets/loginimage.jpg);
//   background-size: cover;
// }

.emptydiv {
  width: 200px;
  height: 180px;
}

h1.text-warning {
  font-size: 56px;
}

div.helper {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 80%;
}

.img-size {
  width: 100px;
  height: 100px;
}

// .img-responsive
