
nav.navbar {
  background-color: rgba(100,100,100,1);
}

// body {
//   background-image: url(/assets/loginimage.jpg);
//   background-size: contain;
// }

.emptydiv {
  width: 200px;
  height: 165px;
}

h1.text-danger {
  font-size: 56px;
}

div.helper {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 80%;
}

.clearfix {
  clear: both;
}

// .img-responsive


.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}
