h1.avatar {
  display: inline-block;
  position: relative;
  top: 10px;
}

// @media

.profile-img {
  width: 128px;
  height: 128px;
  // border-radius: 20%;
  border: white 2px solid;
  margin: 10px 30px;
}

.post-img {
  min-width: 480px;
  max-width: 600px;
  min-height: 280px;
  max-height: 400px;
}

.profile-banner {
  width: 690px;
  height: 128px;
  margin: 10px 20px;
}

header.profile {
  display: inline-block;
}

.post {
  background: #eee;
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
}

div h3 {
  margin-top: 0;
}
